
    .btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
    }
    .flex{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .img{
      padding: 50px;
    }
    

  